*{
    list-style: none;
    
}

body {
    background:#12733C;
    display: flex;
    justify-content: center;
}

main {
    background-color: #F2958D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.699) 2px 2px;
    overflow: hidden;
}
.blockone {
    margin: 2px;
    display: flex;
}

.mainsintetic {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
}

.parameters {
    display: flex;
    flex-direction: column; 
    background-color: #14A653;
    margin: 10px;
    max-width: 800px;
    max-height: 500px;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.699) 2px 2px;
    
}

.selects {
    width: 100px;
    margin: 5px;
    border-radius: 3px;
}

label {
    padding: 5px
}

button {
    border: 2px black solid;
    border-radius: 5px;
    width: 50px;
    background-color: #D92344;
    margin: 5px 5px 5px 50px; 
}

button:hover {
    border: 2px black solid;
    border-radius: 5px;
    width: 50px;
    background-color: rgb(226, 14, 14);
    color: aliceblue;
    font-weight: bolder;
    margin-left: 50px;
}

.datas {
    display: flex;
    background-color: #297350;
    margin: 10px;
    width: 400px;
    min-height: 300px;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.699) 2px 2px;
    
    
}

.media {
    size: 40px; 
    font-weight: bold;
    margin-top: 5px;
    margin-right: 35px;
    background: #F2958D;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    
}


.inputData {
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}

.butoes {
    display: flex;
}

tr {
    max-width: 30px;
}

.off {
    display: none;
}

ul{
    margin: 5px;
}

li {
    border: 1px solid black;
    padding: 5px;
    background: #F2958D;
    border-radius: 3px;
    margin: 2px;

}
.title {
    margin: 10px;
    color:#D92344;
    text-shadow: black .5px 1px;
}

.datas-media {
    display: flex;
    background-image: url('imagens/coin.jpg');
    border: 2px solid black;
    border-radius: 5px;
}

.flagLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    border-top: solid 2px #297350;
    border-bottom: solid 2px #297350;
    overflow: hidden;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.699) 0px 4px;
}

.left  {
    display: flex;
    position: relative;
    top: -200px;
    flex-direction: column;
    align-items: center;
    animation: fall 6s infinite;
    animation-direction: alternate;
}

.flagLeft img {

    width: 40px;
    height: 40px;
    padding: 3px;
    opacity: .1;
}

.flagRight {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    border-top: solid 2px #297350;
    border-bottom: solid 2px #297350;
    overflow: hidden;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.699) 0px 4px;

}

.right {
    display: flex;
    position: relative;
    top: -200px;
    flex-direction: column;
    align-items: center;
    animation: fall 6s infinite;
    animation-direction: alternate-reverse;
}

.flagRight img {

    width: 40px;
    height: 40px;
    padding: 3px;
    opacity: .1;
}

@keyframes fall {
    0%{transform: translateY(-100px);}
    100%{transform: translateY(200px);}
}