


main {

    height: 60vh;
}

button {
    width: max-content;
    color: antiquewhite;
    font-weight: 600;
}

button:hover {
    width: max-content;
    background: white;
    color: rgb(12, 12, 12);
    font-weight: 600;
}